@charset "UTF-8";

/* loaders */

@keyframes loadingUI {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.skeleton {
  background: linear-gradient(90deg, #eae7e7 25%, #f7f6f6 50%, #eae7e7 75%);
  background-size: 200% 100%;
  animation: loadingUI 1.5s infinite linear;
  border-radius: 8px;
}

.skeleton-article-container {
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skeleton-image {
  width: 100%;
  height: 200px;
  border-radius: 8px;
}

.skeleton-title {
  height: 24px;
  width: 60%;
}

.skeleton-paragraph {
  height: 12px;
  width: 100%;
}

.skeleton-button {
  height: 40px;
  width: 50%;
  align-self: center;
}

.skeleton-articles-container.grid-loader {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.skeleton-articles-container.grid-loader .skeleton-article {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 15px;
  cursor: wait;
}

.skeleton-articles-container.grid-loader .skeleton-image {
  width: 100%;
  height: 150px;
  border-radius: 8px;
}

.skeleton-articles-container.grid-loader .skeleton-title {
  height: 20px;
  width: 80%;
}

.skeleton-articles-container.grid-loader .skeleton-text {
  height: 12px;
  width: 100%;
}

.skeleton-articles-container.grid-loader .skeleton-button {
  height: 30px;
  width: 50%;
  align-self: flex-start;
}

body.articles-loading .articles-append-target {
  height: 100vh;
}
/*articles*/
.article-container {
  margin: auto;
  width: 100%;
}
.article h1,
.article h2 {
  margin: 25px 0;
}
.article h3,
.article h4,
.article h5,
.article h6 {
  margin: 15px 0;
}
.article .article-title {
  font-weight: bold;
  font-size: 2.5rem;
}
.article-cover-img-container {
  padding: 0;
  display: flex;
  background-color: #ddd;
  height: 200px;
}
.article .article-cover-img {
  margin: 20px auto 40px auto;
}
.article-cover-img {
  max-height: 300px;
  object-fit: cover;
  width: 100%;
}
.related-articles .article-grid:has(.no-articles-message) {
  display: block;
  margin-bottom: 40px !important;
  text-align: center;
}
.article-grid div:has(.isEmpty) {
  display: none;
}
.article-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: repeat(auto, 50px);
  margin-top: 50px;
}
.related-articles .article-grid {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.article-card {
  background-color: white;
  color: #fff;
  padding: 10px;
  font-size: 150%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 20px;
}
.article-card a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #666666;
}
.article-metadata {
  font-size: 1.15rem;
}
.article-grid .article-card .article-title {
  font-size: 1.5rem;
  padding: 10px 0;
  color: #666666;
  font-weight: 600;
}
.article-grid .article-card .article-excerpt {
  display: block;
}
.article-grid .article-card .continue-reading {
  color: var(--mainColor);
  font-weight: bold;
  margin-top: 10px;
  border-bottom: 2px solid var(--mainColor);
  display: inline;
}
.article-container .btn {
  margin: 20px auto 100px auto;
  display: block;
  background: none;
  border: none;
  max-width: 225px;
  width: 60%;
  background-color: var(--mainColor);
  color: white;
  padding: 10px 15px;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
.article-container .btn * {
  color: #fff;
}
/* uncomment for different arrows on cta */
/* .article-container .btn.btn-primary::after {
  content: "\279C";
  margin-right: 10px;
  max-width: 20px;
  display: inline-block;
} */
.article-container .back-btn {
  background-color: var(--secondaryColor);
}
.article-container .back-btn::before {
  content: "\279C";
  margin-right: 10px;
  max-width: 20px;
  display: inline-block;
  transform: rotate(180deg);
}
.article-tag-container {
  border-top: 1px solid #e6e6e6;
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto;
}
.article-tag-container .article-date {
  flex-basis: 100%;
  max-width: 100%;
}
.article-tag-container .article-tag {
  background-color: #e6e6e6;
  border-radius: 100px;
  color: black;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
/*
.article-page .row {
  display: flex;
}
.related-article-container, #builder .related-article-container.fixed {
position: relative;
}
.related-articles .article-card {
width: 205px;
}
.related-article-container.fixed {
position: fixed;
right: 50px;
}
.article-page .intersection {
height: 1px;
width: 100%;
background: red;
}*/
